html {
    font-size: 0.75em;
}

body {
    margin: 16px;
    background-color: var(--background);
}

#app {
    max-width: 1200px;
    margin: auto;
}

/* global stuff */

button {
    font-size: 1rem;
    background-color: var(--background);
    border: 2px solid var(--color);
    cursor: pointer;
}

button:hover {
	background-color: var(--hover);
	transition-duration: background-color 0.3s;
}

button.buyable {
	border-color: var(--color-green);
}

button.locked {
	border-color: var(--color-red);
}

button.bought {
    background-color: var(--color-yellow);
	border-color: var(--color);
    cursor: default;
}

button.on, button.green {
	border-color: var(--color-green);
}

button.off, button.red {
	border-color: var(--color-red);
}

button.disabled {
    border-color: var(--color);
    cursor: default;
}

button.disabled:hover {
    background-color: inherit;
}

/* Actual stuff */

/* top bar display */

.top-bar {
    margin: 32px 0;
}

.apocalypse-btn {
    min-width: 100%;
    min-height: 96px;
}

.top-bar-layer-2 {
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.top-bar-layer-2 .money-display, .top-bar-layer-2 .mana-display {
    font-size: 1.5rem;
    margin-right: 5rem;
}

/* Nav-bar */
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.nav-bar-btn {
    font-size: 1.2rem;
    min-width: 10rem;
    min-height: 3rem;
    margin-right: 8px;
}

/* Main tab */

/* Tab layout */

.main-tab-wrapper {
    width: 100%;
}

.buildings-section {
    width: 45%;
    float: left;
    margin-right: 8px;
}

.spells-section {
    width: 45%;
    float: right;
    margin-left: 8px;
}

/* Buildings */

.building-con {
    padding-bottom: 16px;
}

.building {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 16px;
}

.building-text-con {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.building-buy-btn, .building-max-all-btn {
    min-width: 10rem;
    height: 2.3rem;
}

.building-util-btn-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.building-mode-btn {
    min-width: 12rem;
    height: 2.3rem;
}


/* Upgrades */

.upgrade-header {
    font-size: 1.2rem;
}

.upg-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.upg-con {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.upg-txt-con {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.upg-btn {
    align-self: flex-start;
    min-width: 180px;
    padding: 8px;
	text-align: center;
	background-color: var(--background);
    border: 2px solid var(--color);
}

/* Spells */

.spell-con {
    margin-bottom: 8px;
}

.spell-toggle-btn {
    min-width: 5rem;
    min-height: 2rem;
}

.spell-name {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Apocalypses tab */
.apocalypse-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.apocalypse-name {
    padding-bottom: 8px;
    font-size: 1.5rem;
    font-weight: bold;
}

.apocalypse-info-subheading {
    font-size: 1.3rem;
}