body {
    margin: 16px;
    font-size: 16px;
    background-color: var(--background);
}

#app {
    max-width: 1200px;
    margin: auto;
}

/* global stuff */

button {
    background-color: var(--background);
    border: 2px solid var(--color);
    cursor: pointer;
}

button:hover {
	background-color: var(--hover);
	transition-duration: background-color 0.3s;
}

button.buyable {
	border-color: var(--color-green);
}

button.locked {
	border-color: var(--color-red);
}

button.bought {
    background-color: var(--color-yellow);
	border-color: var(--color);
}

/* Actual stuff */

.building-con {
    padding-bottom: 16px;
}

.building {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
}

.building-text-con {
    display: flex;
    flex-direction: column;
}

.building-buy-btn {
    min-width: 72px;
    min-height: 36px;
}

.upg-con {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.upg-btn {
	width: 208px;
	margin: 8px;
	min-height: 134px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	background-color: var(--background);
    border: 2px solid var(--color);
}

