body {
    margin: 16px;
    font-size: 16px;
    background-color: var(--background);
}

#app {
    max-width: 1200px;
    margin: auto;
}

/* global stuff */

button {
    background-color: var(--background);
    border: 2px solid var(--color);
    cursor: pointer;
}

button:hover {
	background-color: var(--hover);
	transition-duration: background-color 0.3s;
}

button.buyable {
	border-color: var(--color-green);
}

button.locked {
	border-color: var(--color-red);
}

button.bought {
    background-color: var(--color-yellow);
	border-color: var(--color);
}

/* Actual stuff */

/* top bar display */

.top-bar {
    margin: 32px 0;
}

.apocalypse-btn {
    min-width: 100%;
    min-height: 96px;
}

.top-bar-layer-2 {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Nav-bar */
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.nav-bar-btn {
    min-width: 120px;
    min-height: 48px;
    margin-right: 8px;
}

/* Buildings tab */

/* Buildings */

.building-con {
    padding-bottom: 16px;
}

.building {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 16px;
}

.building-text-con {
    display: flex;
    flex-direction: column;
}

.building-buy-btn {
    min-width: 72px;
    min-height: 36px;
}

.building-max-all-btn-con {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.building-max-all-btn {
    min-width: 144px;
    min-height: 36px;
}

/* Upgrades */

.upg-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.upg-btn {
	width: 208px;
	min-height: 134px;
    margin: 8px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	background-color: var(--background);
    border: 2px solid var(--color);
}


/* Apocalypses tab */
.apocalypse-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.apocalypse-name, .apocalypse-nerf-desc, .apocalypse-info-subheading {
    padding-bottom: 8px;
}

.apocalypse-name {
    font-size: 24px;
    font-weight: bold;
}

.apocalypse-info-subheading {
    font-size: 20px;
}